.createProductBtn {
  background-color: #e98337;
  width: 100%;
  height: 8vh;
  outline: none;
  border: none !important;
  border-radius: 10px;
}
.createProductBtn:hover {
    color: rgb(255, 255, 255);
    opacity: .9;
    font-weight: bold;
    /* border: #e98337 solid 1; */
}

/* dashboard */
.adminDashboardProducts{
width:100%;
height: 180px;
}