.navbar {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
    padding-left:20px ;
    padding-right: 20px;
  
   
  }
  .headerCont{
    margin-bottom: 66px;
    /* background-color: red; */
  }
  
  .nav-link {
    font-weight: 300 !important;
  }
  
  
  /* .active {
    border-bottom: 2px solid #e98337; 
     border: none;
  }
   */
  .navbar-brand {
    font-weight: 700;
    font-family: "roboto", sans-serif;
    letter-spacing: 3px;
  }